doctype html
html(lang="en")
  head
    title="Claves Electr贸nicas de Especies"
    link(href='css/ClavesElectronicasStyles.css', rel='stylesheet')
  body(class='contentbody')
    .wrapmenu
        .wraplogo
            a(href='/', class='maintitle')
                img(src='../images/clave electronica.png',title='Claves Electr贸nicas', class='img-logo')
                strong(class='text') Claves Electr贸nicas
        .wrapbuttonsmenu
            .buttonmenu
                a(href='/') 
                    strong Iniciar Sesi贸n
            .buttonmenu
                a(href='/') 
                    strong Inicio
    .maincontent
        .electronickeycontainer
            h1 Jade - node template engine
            a(href='http://google.com') Google
            br
            a(class='button', href='google.com') Google	
            form(action="...", method="post", enctype="multipart/form-data")
            input(type="file", name="displayImage")